body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #000000;
  color: #d385c8;
  padding: 10px 20px;
}

.navbar a {
  color: #322191;
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover {
  color: #D4AF37;
}

.hero-section {
  background-color: #F4F4F4;
  text-align: center;
  padding: 50px 20px;
}

.hero-section h1 {
  font-size: 36px;
  color: #000000;
}

.hero-section p {
  font-size: 18px;
  color: #666666;
}

.hero-section button {
  background-color: #D4AF37;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.hero-section button:hover {
  background-color: #C6A135;
}

.carousel-inner img {
  object-fit: contain;
  height: 400px;
  margin: 10px auto;
  padding: 10px;
}

.carousel-indicators [data-bs-target] {
  background-color: #D4AF37;
}

.cards-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #FFFFFF;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #F4F4F4;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
  color: #000000;
}

.card p {
  color: #666666;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 4px;
}

footer {
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #D4AF37;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: #FFFFFF;
}


  .cards-section {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }

  .hero-section h1 {
    font-size: 28px;
  }

  .hero-section p {
    font-size: 16;
  }